@using ProjectMusicSound.Models
@model User
@{
    ViewBag.Title = "EditPass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    MusicDataEntities db = new MusicDataEntities();
    HttpCookie httpCookie = Request.Cookies["user_id"];
    User user = db.Users.Find(int.Parse(httpCookie.Value.ToString()));
    List<Profile> profile = db.Profiles.ToList();
}
<style>
    .canchinh {
        margin-top: 10%;
        margin-bottom: 10%;
    }
</style>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css">
<link href="~/Content/Layout/css/profile.css" rel="stylesheet" />
<!-- partial -->
<!-- ##### Header Area Start ##### -->
<div class="canchinh">
    <div class="main-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="profile-card">

                            <div class="profile-header">

                                <div class="cover-image">
                                    <img src="~/Images/User/@user.user_img" class="img img-fluid" style="width: 100%">
                                </div>
                                <div class="user-image">
                                    <img src="~/Images/User/@user.user_img" class="img ">
                                </div>
                            </div>

                            <div class="profile-content">
                                <div class="profile-name">@user.user_name</div>
                                @if (user.role_id == 1)
                                {
                                    <div class="profile-designation">Người Dùng</div>
                                }
                                @foreach (var item in profile.Where(n => n.user_id == user.user_id))
                                {
                                    <p class="profile-description text-center" style="font-size: 15px"><i class="fas fa-sun"></i> @item.profile_point điểm</p>
                                }
                                <ul class="profile-info-list">
                                    <a href="@Url.Action("Profile", "Users", new { id = user.user_id})" class="profile-info-list-item"><i class="mdi mdi-eye"></i>Xem Trang Cá Nhân</a>
                                    <a href="@Url.Action("Index", "Musics", new { id = user.user_id})" class="profile-info-list-item"><i class="mdi mdi-bookmark-music"></i>Quản Lý Nhạc</a>
                                    <a href="" class="profile-info-list-item"><i class="mdi mdi-file-video"></i>Quản Lý Video</a>
                                    <a href="@Url.Action("EditPass", "Users", new { id = user.user_id})" class="profile-info-list-item"><i class="mdi mdi-bookmark-check"></i>Thay Đổi Mật Khẩu</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title font-weight-bold">Thay Đổi Mật Khẩu</p>
                            <form action="@Url.Action("EditPass", "Users", new { id = user.user_id})" class="ui form segment" method="post">
                                <div class="field">
                                    <label>Mật Khẩu Cũ</label>
                                    <input placeholder="Nhập Mật Khẩu Cũ" name="user_oldpass" type="password">
                                    <label style="color: red">@ViewBag.CheckOld</label>
                                </div>
                                <div class="field">
                                    <label>Mật Khẩu Mới</label>
                                    <input placeholder="Nhập Mật Khẩu Mới" name="user_newpass" type="password">
                                    <label style="color: red">@ViewBag.CheckNew</label>
                                </div>
                                <div class="field">
                                    <label>Xác Nhận Lại Mật Khẩu</label>
                                    <input placeholder="Xác Nhận Lại Mật Khẩu" name="user_repeatedit" type="password">
                                </div>
                                <div class="ui buttons">
                                    <button type="reset" class="ui button">Huỷ Bỏ</button>
                                    <div class="or"></div>
                                    <button class="ui positive submit button">Lưu Thay Đổi</button>
                                </div>
                                <div class="ui error message"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <?php include'includes/admin_footer.php' ?>
        <!-- partial -->
    </div>
</div>
