@using ProjectMusicSound.Models
@model User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    MusicDataEntities db = new MusicDataEntities();
    HttpCookie httpCookie = Request.Cookies["user_id"];
    User user = db.Users.Find(int.Parse(httpCookie.Value.ToString()));
    List<Profile> profile = db.Profiles.ToList();
    List<Pay> pay = db.Pays.ToList();
}
<style>
    .canchinh {
        margin-top: 3%;
        margin-bottom: 5%;
    }
</style>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css">
<link href="~/Content/Layout/css/profile.css" rel="stylesheet" />
<!-- partial -->
@Html.Action("Menu", "View")
<!-- ##### Header Area Start ##### -->
<div class="canchinh">
    <div class="main-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="profile-card">

                            <div class="profile-header">
                                <div class="cover-image">
                                    <img src="~/Images/User/@user.user_img" class="img img-fluid" style="width: 100%">
                                </div>
                                <div class="user-image">
                                    <img src="~/Images/User/@user.user_img" class="img">
                                </div>
                            </div>

                            <div class="profile-content">
                                <div class="profile-name">@user.user_name</div>
                                @if (user.role_id == 1)
                                {
                                    <div class="profile-designation">Người Dùng</div>
                                    <div class="profile-designation"> <span class="text-danger">
                                           @foreach(var item in pay.Where(n=>n.user_id == user.user_id))
                                           {
                                               @(user.v_id == 1 ? "Phiên bản: Miển phí" : "Phiên bản: Vip ( HSD: " + item.pay_dateexpiration +")")
                                           }
                                           </span></div>
                                }
                                <p class="profile-description text-center" style="font-size: 15px"><i class="fas fa-sun"></i> @user.user_point điểm <a href="">Đổi quà</a></p>
                                <ul class="profile-info-list">
                                    <a href="@Url.Action("Profile", "Users", new { id = user.user_id})" class="profile-info-list-item"><i class="mdi mdi-eye"></i>Xem Trang Cá Nhân</a>
                                    <a href="@Url.Action("Index", "Musics", new { id = user.user_id})" class="profile-info-list-item"><i class="mdi mdi-bookmark-music"></i>Quản Lý Nhạc</a>
                                    <a href="" class="profile-info-list-item"><i class="mdi mdi-file-video"></i>Quản Lý Video</a>
                                    <a href="@Url.Action("EditPass", "Users", new { id = user.user_id})" class="profile-info-list-item"><i class="mdi mdi-bookmark-check"></i>Thay Đổi Mật Khẩu</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title font-weight-bold">Giới Thiệu Chung</p>
                            <hr>
                            <p class="card-description">Thông Tin Cá Nhân</p>
                            <ul class="about">
                                <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span class="about-item-name">Tên Đăng Nhập:</span><span class="about-item-detail">&nbsp; @user.user_name</span><a data-toggle="collapse" href="#name" role="button" aria-expanded="false" aria-controls="name" class="about-item-edit" style="font-size: medium">Sửa</a></li>
                                <li class="collapse" id="name">
                                    <div class="card card-body">
                                        <form class="ui form" method="post" action="@Url.Action("EditName", "Users", new { id = user.user_id})">
                                            <div class="field">
                                                <label>Tên Đăng Nhập</label>
                                                <input value="@user.user_name" name="user_name" type="text">
                                            </div>
                                            <div class="ui primary submit button">Thay Đổi</div>
                                            <div class="ui error message"></div>
                                        </form>
                                    </div>
                                </li>
                                <li class="about-items"><i class="mdi mdi-clipboard-account icon-sm "></i><span class="about-item-name">Ảnh đại diện:</span><span class="about-item-detail"></span><a data-toggle="collapse" href="#img" role="button" aria-expanded="false" aria-controls="img" class="about-item-edit" style="font-size: medium">Sửa</a></li>
                                <li class="collapse" id="img">
                                    <div class="card card-body">
                                        <form class="ui form" method="post" action="@Url.Action("EditAvatar", "Users", new { id = user.user_id})">
                                            <div class="field">
                                                <label>Chọn Ảnh Đại Diện</label>
                                                <input name="img" type="file">
                                            </div>
                                            <div class="ui primary submit button">Thay Đổi</div>
                                            <div class="ui error message"></div>
                                        </form>
                                    </div>
                                </li>
                                <!--End Collapse-->
                                @foreach (var item in profile.Where(n => n.user_id == user.user_id))
                                {
                                    <li class="about-items">
                                        <i class="mdi mdi-mail-ru icon-sm "></i>
                                        <span class="about-item-name">Họ Và Tên:</span>
                                        <span class="about-item-detail">
                                            @if (item.profile_lastname == null || item.profile_name == null)
                                            {
                                                @:Chưa có dữ liệu
                                            }
                                            else
                                            {
                                                @item.profile_lastname @:&nbsp;@item.profile_name
                                            }
                                        </span>
                                        <a data-toggle="collapse" href="#lastname" role="button" aria-expanded="false" aria-controls="lastname" class="about-item-edit" style="font-size: medium">Sửa</a>
                                    </li>
                                    <li class="collapse" id="lastname">
                                        <div class="card card-body">
                                            <form class="ui form" method="post" action="@Url.Action("EditLastName", "Users", new { id = item.profile_id})">
                                                <div class="field">
                                                    <label>Họ</label>
                                                    <input value="@item.profile_lastname" name="profile_lastname" type="text">
                                                </div>
                                                <div class="field">
                                                    <label>Tên Đăng Nhập</label>
                                                    <input value="@item.profile_name" name="profile_name" type="text">
                                                </div>
                                                <div class="ui primary submit button">Thay Đổi</div>
                                                <div class="ui error message"></div>
                                            </form>
                                        </div>
                                    </li>
                                }
                                @foreach (var item in profile.Where(n => n.user_id == user.user_id))
                                {
                                    <li class="about-items">
                                        <i class="mdi mdi-heart-box-outline icon-sm "></i>
                                        <span class="about-item-name">Sở thích:</span>
                                        <span class="about-item-detail">
                                            @if (item.profile_favorite == null)
                                            {
                                                @:Chưa có dữ liệu
                                            }
                                            else
                                            {
                                                @item.profile_favorite
                                            }
                                        </span>
                                        <a data-toggle="collapse" href="#favorites" role="button" aria-expanded="false" aria-controls="favorites" class="about-item-edit" style="font-size: medium" style="font-size: medium">Sửa</a>
                                    </li>
                                    <li class="collapse" id="favorites">
                                        <div class="card card-body">
                                            <form class="ui form" method="post" action="@Url.Action("EditFavorites", "Users", new { id = item.profile_id})">
                                                <div class="field">
                                                    <label>Sở Thích</label>
                                                    <input value="@item.profile_favorite" name="profile_favorite" type="text">
                                                </div>
                                                <div class="ui primary submit button">Thay Đổi</div>
                                                <div class="ui error message"></div>
                                            </form>
                                        </div>
                                    </li>
                                }
                                @foreach (var item in profile.Where(n => n.user_id == user.user_id))
                                {
                                    <li class="about-items">
                                        <i class="mdi mdi-format-align-left icon-sm "></i>
                                        <span class="about-item-name">Ghi Chú:</span>
                                        <span class="about-item-detail">
                                            @if (item.profile_note == null)
                                            {
                                                @:Chưa có dữ liệu
                                            }
                                            else
                                            {
                                                @item.profile_note
                                            }
                                        </span>
                                        <a data-toggle="collapse" href="#note" role="button" aria-expanded="false" aria-controls="note" class="about-item-edit" style="font-size: medium" style="font-size: medium">Sửa</a>
                                    </li>
                                    <li class="collapse" id="note">
                                        <div class="card card-body">
                                            <form class="ui form" method="post" action="@Url.Action("EditNote", "Users", new { id = item.profile_id})">
                                                <div class="field">
                                                    <label>Ghi Chú</label>
                                                    <input value="@item.profile_note" name="profile_note" type="text">
                                                </div>
                                                <div class="ui primary submit button">Thay Đổi</div>
                                                <div class="ui error message"></div>
                                            </form>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <p class="card-description">Thông Tin Liên Hệ</p>
                            <ul class="about">
                                @foreach (var item in profile.Where(n => n.user_id == user.user_id))
                                {
                                    <li class="about-items">
                                        <i class="mdi mdi-phone icon-sm "></i>
                                        <span class="about-item-name">Số Điện Thoại:</span>
                                        <span class="about-item-detail">
                                            @if (item.profile_phone == null)
                                            {
                                                @:Chưa có dữ liệu
                                            }
                                            else
                                            {
                                                <a href="tel: @item.profile_phone" style="color: black; font-weight: 400!important">@item.profile_phone</a>
                                            }
                                        </span>
                                        <a data-toggle="collapse" href="#phone" role="button" aria-expanded="false" aria-controls="phone" class="about-item-edit" style="font-size: medium">Sửa</a>
                                    </li>
                                    <li class="collapse" id="phone">
                                        <div class="card card-body">
                                            <form class="ui form" method="post" action="@Url.Action("EditPhone", "Users", new { id = item.profile_id})">
                                                <div class="field">
                                                    <label>Số điện thoại</label>
                                                    <input value="@item.profile_phone" name="profile_phone" type="text">
                                                </div>
                                                <div class="ui primary submit button">Thay Đổi</div>
                                                <div class="ui error message"></div>
                                            </form>
                                        </div>
                                    </li>
                                }
                                @foreach (var item in profile)
                                {
                                    <li class="about-items">
                                        <i class="mdi mdi-map-marker icon-sm"></i>
                                        <span class="about-item-name">Địa Chỉ:</span>
                                        <span class="about-item-detail">
                                            @if (item.profile_address == null)
                                            {
                                                @:Chưa có dữ liệu
                                            }
                                            else
                                            {
                                                @item.profile_address
                                            }
                                        </span>
                                        <a data-toggle="collapse" href="#address" role="button" aria-expanded="false" aria-controls="address" class="about-item-edit" style="font-size: medium">Sửa</a>
                                    </li>
                                    <li class="collapse" id="address">
                                        <div class="card card-body">
                                            <form class="ui form" method="post" action="@Url.Action("EditAddress", "Users", new { id = item.profile_id})">
                                                <div class="field">
                                                    <label>Địa chỉ</label>
                                                    <input value="@item.profile_address" name="profile_address" type="text">
                                                </div>
                                                <div class="ui primary submit button">Thay Đổi</div>
                                                <div class="ui error message"></div>
                                            </form>
                                        </div>
                                    </li>
                                }
                                @foreach (var item in profile)
                                {
                                    <li class="about-items">
                                        <i class="mdi mdi-cake icon-sm "></i>
                                        <span class="about-item-name">Ngày Sinh:</span>
                                        <span class="about-item-detail">
                                            @if (item.profile_birth == null)
                                            {
                                                @:Chưa có dữ liệu
                                            }
                                            else
                                            {
                                                @item.profile_birth.Value.ToShortDateString()
                                            }
                                        </span>
                                        <a data-toggle="collapse" href="#birth" role="button" aria-expanded="false" aria-controls="birth" class="about-item-edit" style="font-size: medium">Sửa</a>
                                    </li>
                                    <li class="collapse" id="birth">
                                        <div class="card card-body">
                                            <form class="ui form" method="post" action="@Url.Action("EditBirth", "Users", new { id = item.profile_id})">
                                                <div class="field">
                                                    <label>Ngày Sinh</label>
                                                    <input value="@item.profile_birth" name="profile_birth" type="date">
                                                </div>
                                                <div class="ui primary submit button">Thay Đổi</div>
                                                <div class="ui error message"></div>
                                            </form>
                                        </div>
                                    </li>
                                }
                                @{
                                    List<Sex> sexes = db.Sexes.ToList();
                                }
                                @foreach (var item in profile)
                                {
                                    <li class="about-items">
                                        <i class="mdi mdi-account icon-sm "></i>
                                        <span class="about-item-name">Giới Tính:</span>
                                        <span class="about-item-detail">
                                            @if (item.sex_id == null)
                                            {
                                                @:Chưa có dữ liệu
                                            }
                                            else
                                            {
                                                @item.Sex.sex_name
                                            }
                                        </span>
                                        <a data-toggle="collapse" href="#sex" role="button" aria-expanded="false" aria-controls="sex" class="about-item-edit" style="font-size: medium">Sửa</a>
                                    </li>
                                    <li class="collapse" id="sex">
                                        <div class="card card-body">
                                            <form class="ui form" method="post" action="@Url.Action("EditSex", "Users", new { id = item.profile_id})">
                                                <div class="field">
                                                    <label>Giới Tính</label>
                                                    <select class="ui dropdown" name="sex_id">
                                                        @foreach (var items in sexes)
                                                        {
                                                            <option value="@items.sex_id">@items.sex_name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="ui primary submit button">Thay Đổi</div>
                                                <div class="ui error message"></div>
                                            </form>
                                        </div>
                                    </li>
                                }
                                <li class="about-items"><i class="mdi mdi-email-outline icon-sm "></i><span class="about-item-name">Email:</span><span class="about-item-detail"><a href="mailto: @user.user_email" style="color: black; font-weight: 400!important">&nbsp; @user.user_email</a></span>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <?php include'includes/admin_footer.php' ?>
        <!-- partial -->
    </div>
</div>
