@using ProjectMusicSound.Models
@model ProjectMusicSound.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div style="color: black" class="mt-3">
    <i class="caret square left icon"></i>@Html.ActionLink("Trở Về", "Index")
</div>
<form method="post" enctype="multipart/form-data" class="ui form segment">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.category_id)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h4>Sửa Tài Khoản "@Model.category_name"</h4>
    <div class="field">
        <label>Tên Thể Loại</label>
        <input name="category_name" value="@Model.category_name" type="text" />
    </div>
    <div class="field">
        <label>Ghi Chú</label>
        @if (Model.category_note == null)
        {
            <textarea name="category_note"></textarea>
        }
        else
        {
            <textarea name="category_note">@Model.category_note</textarea>
        }
    </div>
    <div class="field">
        <label>Lượt Xem</label>
        <input name="category_view" value="@Model.category_view" type="text" />
    </div>
    <div class="two fields">
        <div class="field">
            <label>Trạng Thái Tài Khoản</label>
            <select class="ui dropdown" name="category_active">
                <option value="True" @(Model.category_active == true ? "selected" : "")>Hoạt Động</option>
                <option value="False" @(Model.category_active == false ? "selected" : "")>Không Hoạt Động</option>
            </select>
        </div>
        <div class="field">
            <label>Xoá tạm thời</label>
            <select class="ui dropdown" name="category_bin">
                <option value="True" @(Model.category_bin == true ? "selected" : "")>Xoá</option>
                <option value="False" @(Model.category_bin == false ? "selected" : "")>Hoạt Động</option>
            </select>
        </div>
    </div>
    <div class="field">
        <div class="col-md-offset-2">
            <input type="submit" value="Lưu Thay Đổi" class="positive ui button" />
        </div>
    </div>
    <div class="ui error message"></div>
</form>

