@model ProjectMusicSound.Models.Singer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Singer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.singer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singer_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singer_bin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_bin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singer_note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singer_note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.singer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
