@using ProjectMusicSound.Models
@model ProjectMusicSound.Models.User
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    MusicDataEntities db = new MusicDataEntities();
}

@{
    List<Role> roles = db.Roles.ToList();
}
<div style="color: black" class="mt-3">
    <i class="caret square left icon"></i>@Html.ActionLink("Trở Về", "Index")
</div>
<form method="post" enctype="multipart/form-data" class="ui form segment">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.user_id)
    @Html.HiddenFor(model => model.user_datecreate)
    @Html.HiddenFor(model => model.user_datelogin)
    @Html.HiddenFor(model => model.user_code)
    @Html.HiddenFor(model => model.user_token)
    @Html.HiddenFor(model => model.user_email)
    @Html.HiddenFor(model => model.user_pass)
    @Html.HiddenFor(model => model.user_img)
    <h4>Sửa Tài Khoản "@Model.user_email"</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="field">
        <label>Họ Tên</label>
        <input placeholder="Nhập Họ Tên" name="user_name" value="@Model.user_name" type="text">
    </div>

    <div class="field">
        <label>Hình Ảnh</label>
        <input placeholder="Chọn Ảnh" value="@Model.user_img" name="img" type="file">
    </div>

    <div class="field">
        <label>Email</label>
        <input value="@Model.user_email" name="user_email" disabled type="email">
    </div>
    <div class="three fields">
        <div class="field">
            <label>Trạng Thái Tài Khoản</label>
            <select class="ui dropdown" name="user_active">
                <option value="True" @(Model.user_active == true ? "selected" : "")>Hoạt Động</option>
                <option value="False" @(Model.user_active == false ? "selected" : "")>Không Hoạt Động</option>
            </select>
        </div>

        <div class="field">
            <label>Tuỳ Chọn Tài Khoản</label>
            <select class="ui dropdown" name="user_option">
                <option value="True" @(Model.user_option == true ? "selected" : "")>Hoạt Động</option>
                <option value="False" @(Model.user_option == false ? "selected" : "")>Không Hoạt Động</option>
            </select>
        </div>

        <div class="field">
            <label>Cho Phép Tài Khoản</label>
            <select class="ui dropdown" name="user_bin">
                <option value="False" @(Model.user_bin == false ? "selected" : "")>Hoạt Động</option>
                <option value="True" @(Model.user_bin == true ? "selected" : "")>Không Hoạt Động</option>
            </select>
        </div>
    </div>

    <div class="field">
        <label>Vai Trò</label>
        <select class="ui dropdown" name="role_id">
            @foreach (var item in roles)
            {
                <option value="@item.role_id" @(item.role_id == Model.role_id ? "selected" : "")>@item.role_name</option>
            }
        </select>
    </div>

    <div class="field">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu Thay Đổi" class="positive ui button" />
        </div>
    </div>
    <div class="ui error message"></div>
</form>
