@using ProjectMusicSound.Models
@{
    MusicDataEntities db = new MusicDataEntities();
    HttpCookie httpCookie = Request.Cookies["user_id"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>
    <!-- Favicon -->
    <link rel="icon" href="~/Content/Layout/img/core-img/favicon.ico">
    <!--Sematic-->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <link href="~/Content/Semantic-UI-CSS-master/semantic.css" rel="stylesheet" />
    <script src="~/Content/Semantic-UI-CSS-master/semantic.js"></script>
    <!--    Angular     -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <!--    Pagelist    -->
    <link href="~/Content/PageList/ui.css" rel="stylesheet" />
    <script src="~/Content/PageList/ui.js"></script>
    <script src="~/Content/PageList/list.js"></script>
    <!-- Stylesheet -->
    <link href="~/Content/Layout/style.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet" />
    <script src="~/Content/fontawesome-free-5.15.1-web/js/all.min.js"></script>
    <style>
        .mau a span{
            color: black;
        }
    </style>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand text-white">
                            <i class="fab fa-soundcloud"></i> Sound
                        </a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="albums-store.html"><i class="fas fa-compact-disc"></i> Khám Phá</a></li>
                                    <li><a href="albums-store.html"><i class="far fa-chart-bar"></i> #...Chart</a></li>
                                    <li><a href="albums-store.html"><i class="fas fa-podcast"></i> Theo Dõi</a></li>
                                    <li><a href="albums-store.html"><i class="fas fa-music"></i> Nhạc Mới</a></li>
                                    <li>
                                        <a href="#"><i class="fas fa-icons"></i> Thể Loại</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="albums-store.html">Albums</a></li>
                                            <li><a href="event.html">Events</a></li>
                                            <li><a href="blog.html">News</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li>
                                                <a href="#">Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li>
                                                        <a href="#">Even Dropdown</a>
                                                        <ul class="dropdown">
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="event.html"><i class="far fa-star"></i> Top 100</a></li>
                                    <li><a href="event.html"><i class="fab fa-youtube-square"></i> MV</a></li>
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    @if (httpCookie != null)
                                    {
                                        User user = db.Users.Find(int.Parse(httpCookie.Value.ToString()));
                                        <div class="login-register-btn mr-50">
                                            <div class="dropdown show">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="content:none !important">
                                                    <img class="ui avatar image" src="~/Images/User/@user.user_img" style="border: 2px solid @(user.v_id == 1 ? "#ffffff" : "orange")">
                                                    <span>@user.user_name</span>
                                                </a>
                                                <div class="dropdown-menu mau" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="">
                                                        <i class="fas fa-coins" style="color: black"></i><span> Nhiệm vụ kiếm điểm</span>
                                                    </a>
                                                    <a class="dropdown-item" href="@Url.Action("Profile", "Users", new { id = user.user_id})">
                                                        <i class="fas fa-user-alt" style="color: black"></i><span> Trang Cá Nhân</span>
                                                    </a>
                                                    <a class="dropdown-item" href="@Url.Action("Index", "Musics", new { id = user.user_id})">
                                                        <i class="fas fa-compact-disc" style="color: black"></i><span> Quản Lý Bài Hát</span>
                                                    </a>
                                                    <a class="dropdown-item" href="@Url.Action("Index", "Musics", new { id = user.user_id})">
                                                        <i class="fas fa-file-video" style="color: black"></i><span> Quản Lý Video</span>
                                                    </a>
                                                    <a class="dropdown-item" href="@Url.Action("EditPass", "Users", new { id = user.user_id})">
                                                        <i class="fas fa-user-edit" style="color: black"></i><span> Đổi Mật Khẩu</span>
                                                    </a>
                                                    <a class="dropdown-item" href="@Url.Action("LogOut", "Users")">
                                                        <i class="fas fa-sign-out-alt" style="color: black"></i><span> Đăng Xuất</span>
                                                    </a>
                                                    <a class="dropdown-item" href="">
                                                        <i class="fas fa-coins" style="color: black"></i><span> Đổi quà</span>
                                                    </a>
                                                    <a class="dropdown-item" href="/Packages/Index">
                                                        <i class="fas fa-coins" style="color: black"></i><span> Mua vip</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    }
                                    else
                                    {
                                        <div class="login-register-btn mr-50">
                                            <a href="@Url.Action("Login", "Users")" id="loginBtn"><i class="fas fa-user"></i> Cá Nhân</a>
                                        </div>
                                    }

                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="~/Content/Layout/img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text">
                        <a href="#">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Albums</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    @Html.Action("Validation", "View")
    <!-- jQuery-2.2.4 js -->
    <script src="~/Content/Layout/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/Layout/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content/Layout/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/Content/Layout/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Content/Layout/js/active.js"></script>
    <!-- Vali -->
    <script>
        $('.ui.dropdown')
            .dropdown()
            ;
    </script>
</body>
</html>

