@model ProjectMusicSound.Models.Pay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pay_datecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pay_datecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pay_dateexpiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pay_dateexpiration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pay_summoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pay_summoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Package.package_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Package.package_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pay_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
