@using ProjectMusicSound.Models
@model User
@{
    MusicDataEntities db = new MusicDataEntities();
    HttpCookie httpCookie = Request.Cookies["user_id"];
    User user = db.Users.Find(int.Parse(httpCookie.Value.ToString()));
}
<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu" style="margin-top: -1.5%">
        <div class="ui inverted segment">
            <div class="ui inverted secondary menu mt-3">
                <a class="item">
                    Home
                </a>
                <a class="item">
                    Messages
                </a>
                <a class="item">
                    Friends
                </a>
                <div class="right menu">
                    <div class="item">
                        <div class="ui inline dropdown">
                            @if (httpCookie != null)
                            {
                                <div class="text">
                                    <img class="ui avatar image" src="~/Images/User/@user.user_img">@user.user_name
                                </div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <a class="item" href="@Url.Action("Profile", "Users", new { id = user.user_id})">
                                        <i class="fas fa-user-alt"></i><span>  Trang Cá Nhân</span>
                                    </a>
                                    <a class="item" href="@Url.Action("Index", "Musics", new { id = user.user_id})">
                                        <i class="fas fa-compact-disc"></i><span>  Quản Lý Bài Hát</span>
                                    </a>
                                    <a class="item" href="@Url.Action("Index", "Musics", new { id = user.user_id})">
                                        <i class="fas fa-file-video"></i><span>  Quản Lý Video</span>
                                    </a>
                                    <a class="item" href="@Url.Action("EditPass", "Users", new { id = user.user_id})">
                                        <i class="fas fa-user-edit"></i><span>  Đổi Mật Khẩu</span>
                                    </a>
                                    <a class="item" href="@Url.Action("LogOut", "Users")">
                                        <i class="fas fa-sign-out-alt"></i><span>  Đăng Xuất</span>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="text">
                                    <i class="far fa-user-circle"></i><span>  Tài Khoản</span>
                                </div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <a class="item" href="@Url.Action("Login", "Users")">
                                        <i class="far fa-user-circle"></i><span>  Đăng Nhập</span>
                                    </a>
                                    <a class="item" href="@Url.Action("Create", "Users")">
                                        <i class="far fa-user-circle"></i><span>  Đăng Ký</span>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->
<script>
    $('.ui.dropdown')
        .dropdown()
        ;
</script>
