@using ProjectMusicSound.Models
@model ProjectMusicSound.Models.Music

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MusicDataEntities db = new MusicDataEntities();
    List<Music_Singer> singers = db.Music_Singer.ToList();
    List<Music> musics = db.Musics.ToList();
    List<Music_Category> music_Categories = db.Music_Category.ToList();
}
<style>
    .Font{
        font-size: 26px;
        margin: 0em 0em 0em;
    }
    .Chinh{
        margin-top: 3%;
        margin-bottom: 5%;
    }
    
    .size a{
        font-size: 11px;
    }
</style>
@Html.Action("Menu", "View")
<div class="Chinh">
    <div class="row container-fluid">
        <div class="col-lg-8">
            <div class="ui segment">
                <div>
                    <center><img class="ui medium circular image" src="~/Images/@Model.music_img" style="width: 300px; height: 300px"></center>
                </div>
                <p class="Font">@Model.music_name</p>
                @if (Model.User.role_id == 1)
                {
                    <p>@Model.User.user_name</p>
                    <div class="extra content">
                        <span class="left floated like">
                            <i class="like icon"></i>
                        </span>
                        <span class="right floated star">
                            <i class="ellipsis horizontal icon"></i>
                        </span>
                    </div>
                }
                else
                {
                    foreach (var item in singers.Where(n => n.music_id == Model.music_id))
                    {
                        <p>@item.Singer.singer_name</p>
                        <div class="extra content">
                            <span class="left floated like">
                                <i class="like icon"></i>
                            </span>
                            <span class="right floated star">
                                <i class="ellipsis horizontal icon"></i>
                            </span>
                        </div>
                    }
                }
                <audio controls>
                    <source src="/Content/LinkMusic/@Model.music_linkdow" type="audio/mpeg">
                </audio>
            </div>
            <div class="ui styled accordion w-100">
                <div class="active title">
                    <i class="dropdown icon"></i>
                    Lời Bài Hát
                </div>
                <div class="active content">
                    <p>@Model.music_lyric</p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Bình Luận
                </div>
                <div class="content">
                    <div class="ui small comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="/images/avatar/small/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Matt</a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    How artistic!
                                </div>
                                <div class="actions size">
                                    <a class="reply">Reply</a>
                                    <a class="save">Save</a>
                                    <a class="hide">Hide</a>
                                    <a>
                                        <i class="expand icon"></i>
                                        Full-screen
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="/images/avatar/small/elliot.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>This has been very useful for my research. Thanks as well!</p>
                                </div>
                                <div class="actions size">
                                    <a class="reply">Reply</a>
                                    <a class="save">Save</a>
                                    <a class="hide">Hide</a>
                                    <a>
                                        <i class="expand icon"></i>
                                        Full-screen
                                    </a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="/images/avatar/small/jenny.jpg">
                                    </a>
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">Just now</span>
                                        </div>
                                        <div class="text">
                                            Elliot you are always so right :)
                                        </div>
                                        <div class="actions size">
                                            <a class="reply">Reply</a>
                                            <a class="save">Save</a>
                                            <a class="hide">Hide</a>
                                            <a>
                                                <i class="expand icon"></i>
                                                Full-screen
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="/images/avatar/small/joe.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions size">
                                    <a class="reply">Reply</a>
                                    <a class="save">Save</a>
                                    <a class="hide">Hide</a>
                                    <a>
                                        <i class="expand icon"></i>
                                        Full-screen
                                    </a>
                                </div>
                            </div>
                        </div>
                        <form class="ui reply form">
                            <div class="field">
                                <textarea></textarea>
                            </div>
                            <div class="ui blue labeled submit icon button">
                                <i class="icon edit"></i> Bình Luận
                            </div>
                        </form>
                    </div>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Đánh Giá & Báo Cáo Vi Phạm
                </div>
                <div class="content">
                    <p>Đánh giá: <div class="ui star rating" data-rating="0" data-max-rating="5"></div></p>
                    <p>Báo cáo vi phạm</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ui tabular menu">
                <div class="active item" data-tab="tab-name">Danh Sách Phát</div>
                <div class="item" data-tab="tab-name2">Gợi Ý Cho Bạn</div>
            </div>
            <div class="ui segment">
                <div class="ui tab active" data-tab="tab-name">
                    @foreach (var item in musics.Where(n => n.user_id == Model.user_id && n.User.role_id == 1 && n.music_active == true && n.music_option == true && n.music_bin == false && n.music_id != Model.music_id).OrderByDescending(n => n.music_datecreate).Take(15))
                    {
                        <div class="ui items">
                            <div class="item">
                                <div class="image" style="width: 85px">
                                    <img class="ui small rounded image" style="width: 80px; height: 80px" src="~/Images/@item.music_img">
                                </div>
                                <div class="content">
                                    <a href="@Url.Action("Details", "Musics", new { id = item.music_id })" class="header">@item.music_name</a>
                                    <div class="meta">
                                        @if (item.User.role_id == 1)
                                        {
                                            <span>Trình Bày: @item.User.user_name</span>
                                        }
                                        else
                                        {
                                            foreach (var items in singers.Where(n => n.music_id == item.music_id))
                                            {
                                                <span>Trình Bày: @items.Singer.singer_name</span>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="ui tab" data-tab="tab-name2">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.ui.accordion')
        .accordion()
        ;
</script>
<script>
    $('.tabular.menu .item').tab();
</script>
<script>
    $('.ui.rating')
        .rating()
        ;
</script>
