@using ProjectMusicSound.Models
@model IEnumerable<ProjectMusicSound.Models.Music>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MusicDataEntities db = new MusicDataEntities();
    HttpCookie httpCookie = Request.Cookies["user_id"];
    User user = db.Users.Find(int.Parse(httpCookie.Value.ToString()));
    List<Profile> profile = db.Profiles.ToList();
}
@{
    List<Music_Category> music_Categories = db.Music_Category.ToList();
}
<style>
    .canchinh {
        margin-top: 3%;
        margin-bottom: 5%;
    }
</style>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css">
<link href="~/Content/Layout/css/profile.css" rel="stylesheet" />
<!-- partial -->
<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center" style="height: 100px">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url('../../Content/Layout/img/bg-img/b1.jpg');"></div>
            <!-- Slide Content -->
        </div>
    </div>
</section>
<!-- ##### Header Area Start ##### -->
<div class="canchinh" ng-app="myApp">
    <div class="main-panel" ng-controller="myCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="profile-card">

                            <div class="profile-header">

                                <div class="cover-image">
                                    <img src="~/Images/User/@user.user_img" class="img img-fluid" style="width: 100%">
                                </div>
                                <div class="user-image">
                                    <img src="~/Images/User/@user.user_img" class="img">
                                </div>
                            </div>

                            <div class="profile-content">
                                <div class="profile-name">@user.user_name</div>
                                @if (user.role_id == 1)
                                {
                                    <div class="profile-designation">Người Dùng</div>
                                }
                                @foreach (var item in profile.Where(n => n.user_id == user.user_id))
                                {
                                    <p class="profile-description text-center" style="font-size: 15px"><i class="fas fa-sun"></i> @item.profile_point điểm</p>
                                }
                                <ul class="profile-info-list">
                                    <a href="@Url.Action("Profile", "Users", new { id = user.user_id})" class="profile-info-list-item"><i class="mdi mdi-eye"></i>Xem Trang Cá Nhân</a>
                                    <a href="@Url.Action("Index", "Musics", new { id = user.user_id})" class="profile-info-list-item"><i class="mdi mdi-bookmark-music"></i>Quản Lý Nhạc</a>
                                    <a href="@Url.Action("Create", "Musics")" class="profile-info-list-item"><i class="mdi mdi-plus-box"></i>Đăng Nhạc</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 grid-margin stretch-card">
                    <!--Tab loc-->
                    <div class="ui secondary pointing menu">
                        <a href="@Url.Action("Index", "Musics", new { id = user.user_id})" class="active item">
                            Đã Đăng
                        </a>
                        <a href="@Url.Action("ActiveDel", "Musics", new { id = user.user_id})" class="item">
                            Bản Thảo
                        </a>
                    </div>
                    <div class="ui">
                        @if (Model.Where(n => n.user_id == user.user_id && n.music_option == true && n.music_bin == false).Count() == 0)
                        {
                            <div class="ui message">
                                <div class="header">
                                    Hiện Tại Bạn Không Có Bài Nhạc Nào!!!
                                </div>
                                <p>Hãy đăng nhạc tích điểm để trở thành thành viên VIP của ...</p>
                            </div>
                        }
                        else
                        {
                            <div class="card-body mb-3" style="border: 1px solid #000000; border-radius: 5px" ng-repeat="listms in filteredTodos | filter : textSearch">
                                <div class="ui items">
                                    <div class="item">
                                        <a href="#" class="ui small image rounded" style="width: 80px">
                                            <img src="~/Images/{{listms.music_img}}" style="width: 80px; height: 80px">
                                        </a>
                                        <div class="content">
                                            <a href="" class="header">{{listms.music_name}}</a>
                                            <div class="row">
                                                <div class="description col-lg-6">
                                                    <a><p>@user.user_name</p></a>
                                                    <a><p>{{listms.music_time}}</p></a>
                                                </div>
                                                <div class="description col-lg-6 text-right">
                                                    <a href="/Musics/Details/{{listms.music_id}}" class="ui icon button">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                    <a href="/Musics/Edit/{{listms.music_id}}" class="ui icon button">
                                                        <i class="fas fa-pen"></i>
                                                    </a>
                                                    <a href="/Musics/Del/{{listms.music_id}}" class="ui icon button">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!---->
                    <pagination ng-model="currentPage" total-items="listms.length" max-size="maxSize" boundary-links="true"></pagination>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <?php include'includes/admin_footer.php' ?>
            <!-- partial -->
        </div>
    </div>
</div>
<script src="~/Scripts/Json/User/Musics.js"></script>